---
layout: archive
title: "Publications"
permalink: /en/publications/
author_profile: true
lang: en
translated: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>First-author papers</h2><hr />
{% for post in site.publications reversed %}
  {% if post.pubtype == 'first-author' %}
      {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Short-author papers</h2><hr />
{% for post in site.publications reversed %}
  {% if post.pubtype == 'short-author' %}
      {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Major contributions to collaboration papers</h2><hr />
{% for post in site.publications reversed %}
  {% if post.pubtype == 'collaboration' %}
      {% include archive-single.html %}
  {% endif %}
{% endfor %}

<div class="wordwrap">I am also an author on 22 additional collaboration papers to reflect my contributions to NANOGrav and the IPTA.</div>
