---
layout: archive
title: "Cyhoeddiadau"
permalink: /cy/publications/
author_profile: true
lang: cy
translated: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Fe allwch chi cael hyd i restr o fy nghyhoeddiadau ar <a href="{{site.author.googlescholar}}">fy mhroffil Google Scholar</a> hefyd.</div>
{% endif %}

{% include base_path %}

<hr /><h2>Papurau 'Awdur Cyntaf'</h2><hr />
{% for post in site.publications reversed %}
  {% if post.pubtype == 'first-author' %}
      {% include archive-single.html %}
  {% endif %}
{% endfor %}

<hr /><h2>Papurau 'Awduron Byr'</h2><hr />
{% for post in site.publications reversed %}
  {% if post.pubtype == 'short-author' %}
      {% include archive-single.html %}
  {% endif %}
{% endfor %}

<hr /><h2>Cyfraniadau Mawr i Bapurau Cydweithiad</h2><hr />
{% for post in site.publications reversed %}
  {% if post.pubtype == 'collaboration' %}
      {% include archive-single.html %}
  {% endif %}
{% endfor %}

<hr />

<div class="wordwrap">Hefyd, rydw i'n awdur ar 22 papur cydweithiad arall i adlewyrchu fy nghyfraniadau i NANOGrav a'r IPTA.</div>
