---
layout: archive
title: "Cyhoeddiadau"
permalink: /cy/publications/
author_profile: true
lang: cy
translated: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Fe allwch chi cael hyd i restr o fy nghyhoeddiadau ar <a href="{{site.author.googlescholar}}">fy mhroffil Google Scholar</a> hefyd.</div>
{% endif %}

{% include base_path %}

<h2>Papurau 'Awdur Cyntaf'</h2><hr />
{% for post in site.publications reversed %}
  {% if post.pubtype == 'first-author' %}
      {% include archive-single.html %}
  {% endif %}
{% endfor %}



